<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Spring Scheduler</title>
</head>
<body>
<div class="container">
  <div th:replace="fragments/header :: header('clients')" />
  <h1>Welcome to Spring Scheduler!</h1>
  <br>
  <br>
  <br>
  <br>
</div>




</body>
<footer class="footer mt-auto">
  <div th:replace="fragments/footer :: footer" />
</footer>
</html>