<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Save Person</title>
</head>

<body>

<div class="container">

  <div th:replace="fragments/header :: header('clients')" />

  <h3>Add or update Person</h3>
  <hr>

  <p class="h4 mb-4">Save Person</p>

  <form action="#" th:action="@{/person/savePerson}" th:object="${person}" method="POST">

    <input type="hidden" th:field="*{personId}"/>
    <input type="hidden" th:name="groupId" th:value="${groupId}"/>

    <div class="form-group">
      <input type="text" th:field="*{firstName}"
             class="form-control mb-4 col-4" placeholder="First name">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <div class="form-group">
      <input type="text" th:field="*{lastName}"
             class="form-control mb-4 col-4" placeholder="Last name">
      <div class="alert alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>

<!--    <div class="form-group">-->
<!--      <input type="text" th:field="*{birthdate}"-->
<!--             class="form-control mb-4 col-4" placeholder="birth date (yyyy-MM-dd)">-->
<!--      <div class="alert alert-warning" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}"></div>-->
<!--    </div>-->

    <div class="form-group">
      <select th:field="*{studyGroup}" class="form-control" required>
        <th:block th:each="studyGroup : ${studyGroupList}">
          <option th:value="${studyGroup.groupId}" th:text="${studyGroup.groupName}" th:selected="${studyGroup.groupName} == ${personsGroupName}"></option>
        </th:block>
      </select>
      <div class="alert alert-warning" th:if="${#fields.hasErrors('studyGroup')}" th:errors="*{studyGroup}"></div>
    </div>

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <hr>


</div>
</body>
<div th:replace="fragments/footer :: footer" />
</html>
